.main-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    border: 1px solid;
  }
  
  /* Estilos adicionales para los elementos dentro del contenedor principal */
  .main-content > * {
    margin-bottom: 20px; /* Añade espacio entre los elementos */
    width: 100%; /* O ajusta según sea necesario */
  }
  
  @media screen and (min-width: 768px) {
    .main-content {
      flex-direction: row; /* Cambia a un diseño de fila en pantallas más grandes */
      justify-content: space-between; /* Distribuye los elementos horizontalmente */
    }
  }
  
  @media screen and (max-width: 768px) {
    .main-content {
      /* Estilos específicos para pantallas más pequeñas */
    }
  }
  
  @media screen and (min-width: 768px) {
    .main-content {
      /* Estilos específicos para pantallas más grandes */
    }
  }
  