body {
  background-image: url('./img/background/main.jpg');
  color: white;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* App.css */
header, footer, main {
  padding: 20px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

/* styles.css */

/* Estilos para el contenido principal */
.main-content {
  /* Ajusta el alto del contenido principal */
  min-height: calc(100vh - 100px); /* 100px es la altura del footer */
  /* Resto de estilos */
  margin-bottom: 100px; /* Ajusta esto a la altura de tu footer */
}

/* Estilos para el footer */
footer {
  /* Fija el footer en la parte inferior */
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  position: end;
  left: 0;
  bottom: 0;
  width: 100%;
  /* Estilos adicionales */
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

